.reabastecimiento-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh; 
  width: 100%;
  border-radius: px;
  padding: 1rem; 
  overflow-y: auto;
}

.reabastecimiento-header {
  flex: 0 0 auto;
  width: 100%;
  padding: 1rem;
  background-color: #007bb5; 
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.ingredientes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1200px; 
  padding-bottom: 3rem;
}

.ingrediente-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.card-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.card-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-buttons button:first-child {
  background-color: #007bb5;
  color: white;
}

.card-buttons button:last-child {
  background-color: #007bb5;
  color: white;
}

.rebastecimiento-back-button {
  padding: 0.5rem 1.5rem;
  background-color: #007bb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-bottom: 1rem
}

.rebastecimiento-back-button:hover {
  background-color: #005f8f;
  color: white;
}