.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000;
} 

.popup-content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.popup-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.popup-content h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 1rem;
}

.popup-content h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}
  
.popup-asignaciones-grid {
    flex: 1; 
    overflow-y: auto; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem; 
}
  
.popup-asignacion-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.popup-asignacion-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.popup-cancel-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-cancel-button:hover {
    background-color: #d32f2f;
}

.popup-asignaciones-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin: 20px 0;
}

.popup-asignacion-card {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.popup-asignacion-card:hover {
    background-color: #e0e0e0;
}

.popup-asignacion-card p {
    margin: 5px 0;
    color: #333;
    text-align: left;
}

.popup-content.error h2 {
    color: #f44336; 
}

.popup-content.error p {
    color: #333;
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; 
    max-height: 50vh; 
}
  
.popup-content ul li {
    margin: 5px 0;
}

.popup-content button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bb5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #005f8f;
}

.popup-content-with-footer {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.popup-body-scrollable {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}
  
.popup-footer {
    display: flex;
    justify-content: flex-end;
}